<section class="about">
    <div class="title-container">
        <h1 class="title">Sobre Mim</h1>
    </div>
    <div class="content">
        <p>Me chamo <span class="name">Leandro Gonçalves</span>, Engenheiro de Dados. Atuo no desenvolvimento de pipelines ETL/ELT, modelagem de dados e construção de soluções para ingestão, armazenamento, processamento e análise de dados. Possuo experiência com Python, SQL, Azure, Apache Spark (PySpark), Apache Airflow e Power BI, além de conhecimentos em arquiteturas de Data Lake e Data Warehouse em nuvem. Certificado pela Microsoft na <span class="name">Azure Fundamentals (AZ-900)</span>, aplico boas práticas de engenharia de dados para transformar dados brutos em informações confiáveis e acessíveis, contribuindo para a tomada de decisões orientada por dados.</p>
    </div>
    <div class="button-container">
        <a href="/documents/Curriculo_Leandro_Data_Engineer.pdf" download="Curriculo_Leandro_Data_Engineer.pdf" class="bt">Baixar CV</a>
    </div>
</section>
