<section class="about">
    <div class="title-container">
        <h1 class="title">Sobre Mim</h1>
    </div>
    <div class="content">
        <p>Me chamo <span class="name">Leandro Gonçalves</span>, Engenheiro de Dados. Possuo sólida experiência em desenvolvimento, arquitetura de software, clean code e design patterns com Python e PHP, além de conhecimentos em infraestrutura de TI. Ao longo da minha trajetória, desenvolvi amplo conhecimento em SQL e tecnologias de Big Data, como Spark, Airflow, dbt e ambientes na nuvem Azure. Combinando minha expertise em desenvolvimento e infraestrutura para projetar e implementar pipelines de ETL eficientes e arquiteturas de dados escaláveis, contribuindo de forma estratégica para a tomada de decisões baseada em informações precisas.</p>
    </div>
    <div class="button-container">
        <a href="/documents/Curriculo_Leandro_Data_Engineer.pdf" download="Curriculo_Leandro_Data_Engineer.pdf" class="bt">Baixar CV</a>
    </div>
</section>
