<section class="about">
    <div class="title-container">
        <h1 class="title">Sobre Mim</h1>
    </div>
    <div class="content">
        <p>Me chamo <span class="name">Leandro Gonçalves</span>, Engenheiro de Dados. Possuo sólida experiência em desenvolvimento e arquitetura de software, aplicando boas práticas como Clean Code e Design Patterns com Python e PHP, além de conhecimentos em infraestrutura de TI. <span class="name">Certificado pela Microsoft na Azure Fundamentals (AZ-900)</span>, tenho boa base de computação em nuvem e serviços Azure. Ao longo da minha trajetória, desenvolvi amplo conhecimento em SQL e tecnologias de Big Data, como Spark, Airflow, dbt e ambientes na nuvem Azure. Combino minha expertise em desenvolvimento e infraestrutura para projetar e implementar pipelines de ETL eficientes e arquiteturas de dados escaláveis, contribuindo estrategicamente para a tomada de decisões baseada em dados confiáveis e precisos.</p>
    </div>
    <div class="button-container">
        <a href="/documents/Curriculo_Leandro_Data_Engineer.pdf" download="Curriculo_Leandro_Data_Engineer.pdf" class="bt">Baixar CV</a>
    </div>
</section>
