header {
    background: var(--background-secondary);
    z-index: 1000;
    position: fixed;
}

.row {
    padding: 0;
}

.l-logo {
    font-family: initial;
    font-size: 4.2em;
    font-weight: 900;
    color: var(--primary);
    margin-left: 15px;
}

li {
    margin: 0 10px;
    padding: 0;
    font-size: 1.3em;
    list-style: none;
}

li a {
    color: var(--text-color);
    text-decoration: none;
}

li a:hover {
    color: var(--primary);
}

.fa-bars {
    font-size: 3.0em;
    transition: transform 0.3s ease;
}

.fa-bars:hover {
    transform: rotate(90deg);
    color: var(--primary);
    cursor: pointer;
}

.responsive-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.responsive-nav li {
    margin: 12px 0;
}