<section class="home">
    <div class="titles">
        <h1>Leandro Gonçalves</h1>
        <h2>Engenheiro de Software</h2>
    </div>
    <div class="social-icons">
        @for (social of socialService.socials; track social.id) {
          <a [href]=social.link target="_blank"><i class="{{ social.icon }}"></i></a>
        }
    </div>
    <div class="buttons-container">
        <a href="https://wa.me/5582988094715" class="bt" target="_blank">Fale Comigo!</a>
        <a href="/documents/Curriculo_Leandro_Full_Stack.pdf" download="Curriculo_Leandro_Full_Stack.pdf" class="bt" target="_blank">Baixar CV</a>
    </div>
</section>
