.projects {
    background: var(--background);
    padding: 40px 0;
}

.title-container {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.row {
    margin: 0;
    display: flex;
    justify-content: center;
}

.card {
    background: var(--background-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px var(--primary);
}

.card i {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 3.5em;
}

.card i:hover {
    color: var(--primary);
}

.card-title {
    font-size: 1.5em;
    text-align: center;
    color: var(--primary);
    margin-bottom: 20px;
}

.card-text {
    text-align: center;
}

.bt-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.bt {
    font-size: 1.1em;
}

@media (min-width: 992px) {
    .card {
       margin: 0 15px; 
    }
}