.skills {
    background: var(--background);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.technology-container {
    padding: 2px 0px;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    margin: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.technology-container:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px var(--text-color);
}

.technology-container i {
    margin-right: 7px;
}

.technology-container span {
    font-size: 0.9em;
    font-weight: 500;
    color: var(--primary);
}

@media (min-width: 992px) {
    .technology-container {
        padding: 2px 0;
    }

    .technology-container span {
        font-size: 1.3em;
    }
}