/* You can add global styles to this file, and also import other style files */

:root {
    --primary: #00A8FF;
    --secondary: #0e0e0e;
    --secondary-gradient: #1c1c1e;
    --text-color: #ffffff;
    --background: url('../public/assets/background.jpg');
    --background-secondary: linear-gradient(135deg, var(--secondary), var(--secondary-gradient));
}

* {
    color: var(--text-color);
}

.row {
    margin: 0;
}

.bt {
    display: inline-block;
    background-color: var(--primary);
    font-size: 1.3em;
    font-weight: 500;
    color: var(--text-color);
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.bt:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 8px var(--primary);
    background-color: var(--text-color);
    color: var(--primary);
}

.title {
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--primary);
}