.experience {
    background: var(--background-secondary);
}

.title-container {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: var(--primary);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

.timeline-item {
  background: var(--background-tertiary);
  padding: 20px 30px;
  position: relative;
  width: 50%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background-color: var(--primary);
  border: 4px solid var(--background);
  top: 20px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.left {
  left: 0;
  text-align: right;
}

.timeline-item.right {
  left: 50%;
  text-align: left;
}

.timeline-item.right::after {
  left: -10px;
  right: auto;
}

.timeline-item .content {
  background-color: var(--background-secondary);
  padding: 20px;
  border-radius: 10px;
  position: relative;
}

.experience-title {
    font-size: 1.5em;
    color: var(--primary);
}

.date {
    font-size: 1.2em;
}

h4 {
    color: var(--primary);
    padding-bottom: 10px;
}

.technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.technologies li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
  margin: 0 10px;
}

.technologies i:hover {
    color: var(--primary);
}

@media (max-width: 992px) {
    .technologies li {
        margin: 5px;
    }

    .experience-title {
      font-size: 1.1em;
    }

    .date {
      font-size: 1em;
    }

    .description {
      font-size: 0.9em;
    }
}